dpcpp-cpp-rt==2025.0.5
filelock==3.13.1
fsspec==2024.6.1
intel-cmplr-lib-rt==2025.0.5
intel-cmplr-lib-ur==2025.0.5
intel-cmplr-lic-rt==2025.0.5
intel-opencl-rt==2025.0.5
intel-openmp==2025.0.5
intel-pti==0.10.1
intel-sycl-rt==2025.0.5
intel_extension_for_pytorch==2.7.10+xpu
Jinja2==3.1.4
MarkupSafe==2.1.5
mkl==2025.0.1
mkl-dpcpp==2025.0.1
mpmath==1.3.0
networkx==3.3
numpy==2.1.2
onemkl-sycl-blas==2025.0.1
onemkl-sycl-datafitting==2025.0.1
onemkl-sycl-dft==2025.0.1
onemkl-sycl-lapack==2025.0.1
onemkl-sycl-rng==2025.0.1
onemkl-sycl-sparse==2025.0.1
onemkl-sycl-stats==2025.0.1
onemkl-sycl-vm==2025.0.1
packaging==25.0
pillow==11.0.0
psutil==7.0.0
pytorch-triton-xpu==3.3.0
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
setuptools==70.2.0
sympy==1.13.3
tbb==2022.2.0
tcmlib==1.2.0
torch==2.7.0+xpu
torchaudio==2.7.0+xpu
torchvision==0.22.0+xpu
typing_extensions==4.12.2
umf==0.9.1
